<ion-content>
  <div class="circleBase type2 circle1"></div>
  <div class="circleBase type1"></div>
  <div class="circleBase type2 circle2"></div>
  <ion-label class="welcomeMessage">
    <ion-text color="light">Welcome Mali Developpeur</ion-text>
    <ion-text color="light"><p>Sign UP!</p></ion-text>
  </ion-label>

    <ion-list lines="none" class="ion-margin ion-padding ion-text-center ">
      <ion-item class="ion-margin-vertical">
        <ion-icon name="person-outline" slot="end" color="medium"></ion-icon>
      <ion-input  placeholder=" username"></ion-input>
      </ion-item>
      <ion-item class="ion-margin-vertical">
        <ion-icon name="mail-outline" slot="end" color="medium"></ion-icon>
      <ion-input  placeholder=" Entre Email Address"></ion-input>
      </ion-item>

      <ion-item>
        <ion-icon name="lock-closed-outline" slot="end" color="medium"></ion-icon>
      <ion-input placeholder=" Entre Password"></ion-input>
      </ion-item>
      <ion-row class="ion-margin-vertical">
        <ion-col size="6" class="alignItems">
          <div align=left>
<ion-checkbox></ion-checkbox>
<ion-note>I accept the policy </ion-note>
          </div>
        </ion-col>
      </ion-row>
      <ion-button color="primary" shape="round">SIGN UP</ion-button>
    </ion-list>

</ion-content>
